<a href="/">Home</a>
<h1>Add New Language</h1>

<form action="/add_new_language/" method="post">
  <label for="name">Add a language:</label>
  <input type="text" name="name" value="">
  <input type="submit" name="submit" value="Add New Language">
</form>
