<div class="menu-bar">
  <form action="/" method="get">
    <button class="menu" type="submit">Home</button>
  </form>
  <form action="/show_times/" method="post">
    <button class="menu" type="submit">Show Times</button>
  </form>
  <form action="/manual_input/" method="get">
    <button class="menu" type="submit">Add Time</button>
  </form>
  <form action="/delete_language/" method="get">
    <button class="menu" type="submit">Exterminate</button>
  </form>
</div>

<h1>Language Exterminated...<br><smaller>...from database</smaller></h1>
