<div class="menu-bar">
  <form action="/" method="get">
    <button class="menu" type="submit">Home</button>
  </form>
  <form action="/show_times/" method="post">
    <button class="menu" type="submit">Show Times</button>
  </form>
  <form action="/manual_input/" method="get">
    <button class="menu" type="submit">Manual Input</button>
  </form>
</div>
<h3>~ Delete a Language ~</h3>


<div class="container">
  <div class="button-manual">
    <p>Delete</p>
    <form class="form" action="/delete_language/" method="post">
      <select name="id">
        <% for language in @languages %>
        <option value="<%= language.id %>"><%= language.name %></option>
        <% end %>
      </select>
      <br>
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
