<body>
  <div class="menu-bar">
    <form action="/" method="get">
      <button class="menu" type="submit">Home</button>
    </form>
    <form action="/show_times/" method="post">
      <button class="menu" type="submit">Show Times</button>
    </form>
    <form action="/manual_input/" method="get">
      <button class="menu" type="submit">Add Time</button>
    </form>
    <form action="/delete_language/" method="get">
      <button class="menu" type="submit">Exterminate</button>
    </form>
  </div>

<h3>~ Time spent coding with each language ~</h3>
<div class="container">


  <% for language in @languages %>
  <div class="bigbutton">
  <% time = language.log_time / 60 / 60%>
    <p><%= language.name %><br><time><%= time.to_i %></time><br><smaller>hours</smaller></p>

  </div>
  <% end %>

</div>
</body>
