body {
  background-color: #6E8898;
  font-family: 'Lato';
  z-index: -1;
}

h1 {
  text-align: center;
  color: #D3D0CB;
  font-size: 2.5rem;
}

a {
  color: #D3D0CB;
  text-decoration: none;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bigbutton {
  width: 200px;
  height: 200px;
  transition: all 1s ease-in;
  margin: 10px;
  background-color: #2E5266;
  border-radius: 10px;
  color: #D3D0CB;
  font-size: 2rem;
  text-align: center;
  padding: 5px;
}

.bigbutton:hover {
  width: 225px;
  height: 225px;
  transition: all 1s ease-out;
  background-color: #2E5266;
  border-radius: 10px;
  color: #E2C044;
  font-size: 2.3rem;
}
